/* Fonts */


    /*


    font-family: 'Roboto', sans-serif;

    font-family: 'Niramit', sans-serif;


     */

h1, h2, p, a {
    font-family: 'Niramit', sans-serif;
    font-size: 1.5em;
    color: #4e555b;
}





.my-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav .container {
    padding: 10px 0
}

#navbar {
    display: flex;
    flex-direction: row;
}

#nav-body {
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    width: 100%;
}

.links{

    justify-content: unset;
}
.links li a {
    margin-right: 45px;
}
.nav-body {
    display: flex;
    flex-direction: row;
}

.nav-icon {
    height: 20px;
    width: auto;
    margin-right: 10px;
}
.social-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    margin: 10px 0;
}

#landing {
    width: 100%;
    background-image: url("/static/pexels-photo-164005.jpeg");
    background-size: 100% 150%;
    background-position: center ;
}


.jumbotron{
    height: 40vh;
    background-color: transparent;
    color: white;
    border-radius: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
}

#jumbo-content {
    display: flex;
    justify-content: center;
    flex-direction: column;


}
#jumbo-buttons {
    justify-content: flex-start;
    align-items: flex-start;
}

#jumbo-buttons a {
    padding: 10px;
    border: 3px solid white;;
    border-radius: 5px;
}

#jumbo-buttons a:hover {
    background-color: rgba(118, 116, 123, 0.77);
}
.jumbotron h1, .jumbotron p {
    color: white;
    width: 70%;
}
.jumbotron h1 {
    margin-bottom: 15px;
    font-size: 4em;
}
.jumbotron p {
    margin-bottom: 25px;

    font-size: 1.5em;
}

.blend {
    background-color: rgba(61, 67, 74, 0.56);
    background-blend-mode: multiply;
}


.page-title {
    font-size: 3em;
    text-align: center;
    padding: 25px;
}


.service-card {
    width: 300px;
    margin-bottom: 50px;
}
.service-card h2, .service-card, p {
    color: #4e555b;
}

.service-card img {
    width: 300px;
    height: 200px;
    margin-bottom: 15px;
}
.service-card h2{
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}
.service-card p {
    text-align: justify;
}

#service-row {

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#services{
    height: 100%;

    background-color: rgba(210, 210, 210, 0.51);
}

footer {
    display: none;
}

.testimonial {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.testimonial img {
    height: auto;
    width: 200px;
}
.testi-text{
    font-size: 12px;
    margin-right: 50px;
    text-align: justify;
}