


<footer id="footer" class="background-gray">
    <div class="container">
        <div class="credits">
            <div>
                <p>Icons made by
                    <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Phone call">Phone call, Envelope, Edit</a>
                    from
                    <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a>
                    is licensed by
                    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                </p>
            </div>
            <p>Website designed and developed by <a href="http://callum-pullinger.co.uk">Callum Pullinger</a></p>
        </div>
    </div>
</footer>
