<nav id="navbar">
    <div id='nav-body' class="container">
        <div id="nav-header">
            <h1>Tidy Building Solutions</h1>
            <img id="nav-toggle" src="/static/icons/if_Menu2_1031510.png">
        </div>

        <div id="nav-links">
            <ul class="my-nav-flex">
                <li><a href="/">Home</a></li>
                <li><a href="/services/">Services</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul id="nav-contact">
                <li><a class="social-link" href="mailto:tidybuildingsolutionsltd@gmail.com"><img class="nav-icon" src="/static/icons/envelope.png">Email Me!</a></li>
                <li><a class="social-link" href="#"><img class="nav-icon" src="/static/icons/phone-call.png">01702 300031</a></li>
                <li><a class="social-link" href="#"><img class="nav-icon" src="/static/icons/phone-call.png">07555662525</a></li>
            </ul>
        </div>
    </div>
</nav>



    <script>
        $('#nav-toggle').on('click', function () {
            $('#nav-links').toggle('fast');
        });

        $('#nav-links li').mouseover(function () {
            $(this).find('a').css('color', 'white');

        }).mouseout(function () {
            $(this).find('a').css('color', 'unset');
        });

        $('#nav-links .my-nav-flex').on('click', function () {
            location.href = $(this).attr('href')
        });


        jQuery(function($) {
            var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
            $('#navbar ul a').each(function () {
                if (this.href === path) {
                    $(this).parent().addClass('active').find('a').css('color', 'white');
                }
            });
        });
    </script>


