<nav id="navbar">
    <div class="container">
        <div id="nav-body"  class="my-flex-row">
            <ul class="nav-links links my-flex-row">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <ul class="nav-links nav-contact my-flex-row">
                <li><a class="social-link" href="#"><img class="nav-icon" src="/static/icons/envelope.png">tidybuilding@gmail.com</a></li>
                <li><a class="social-link" href="#"><img class="nav-icon" src="/static/icons/phone-call.png">07412090817</a></li>
            </ul>
        </div>
    </div>
</nav>